<div class="card d-flex justify-content-center mt-5 p-5">
    <h2 style="color:#8ABD91; font-size: 3rem;"> Create an Account </h2>
    <form class="d-flex flex-column">
        <div class="form-group">
            <label for="firstName" class="form-label mt-2">First Name</label>
            <input type="firstName" class="form-control" id="firstName" placeholder="Enter first name">
        </div>
        <div class="form-group">
            <label for="lastName" class="form-label mt-2">Last Name</label>
            <input type="lastName" class="form-control" id="lastName" placeholder="Enter last name">
        </div>
        <div class="form-group">
            <label for="email" class="form-label mt-2">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="username" class="form-label mt-2">Username</label>
            <input type="username" class="form-control" id="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password" class="form-label mt-2">Password</label>
            <input type="password" class="form-control mb-1" id="password" placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-secondary mt-3" style="min-width:100%; color:#8ABD91" onclick="createAccount(event)">Submit</button>
    </form>
</div>