<div class="container d-flex flex-wrap m-3" style=" min-width:100vh;">
    <div class="card mb-3" style="min-width:100%; border: 2px solid #8ABD91">
        <div class="card-header" style="font-size: 2rem; color:white;">Your Articles</div>
        {{#if articles.none}}
            <div class="card-body has-articles">
            <div class="card-body no-articles p-0">
                You haven't created any posts! Click the button below to make youre first one.
            </div>
            <button type="button" class="btn btn-primary my-3" id="create-article" style="background-color: #8ABD91;">Create Article</button>
        </div>
        {{else}}
            <button type="button" class="btn btn-primary m-3" id="create-article" style="background-color: #8ABD91; max-width:30vh">Create New Article</button>
            {{#each articles}}
                <div class="card d-flex m-3" style="min-width: 100vh;">
                    <div class="col-8" style="font-size: 1.5rem;">
                        {{this.title}}
                        <p class="m-0" style="color: #8ABD91; font-size: .625rem;">{{this.date_created}}</p>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-primary my-3" style="background-color: #8ABD91;">Edit</button>
                        <button type="button" class="btn btn-primary my-3" style="background-color: #8ABD91;">Delete</button>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>

