<div class="card d-flex justify-content-center mt-5 p-5">
    <h2 style="color:#8ABD91; font-size: 3rem;"> Login </h2>
    <form class="d-flex flex-column">
        <div class="form-group">
            <label for="email" class="form-label mt-2">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password" class="form-label mt-2">Password</label>
            <input type="password" class="form-control mb-1" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-secondary my-1" style="min-width:100%" onclick="login(event)">Enter</button>
        <p>Don't Have an account? <span><a href="/create-account" style="color: #8ABD91;">Create one!</a></span></p>
    </form>
</div>