<div class="container d-flex flex-column flex-wrap m-3" style=" min-width:100vh;">
     <h2 style="color:#8ABD91; font-size: 3rem;"> New Article</h2>
    <form class="d-flex flex-column">
        <div class="form-group">
            <label for="title" class="form-label mt-2">Title</label>
            <input type="title" class="form-control" id="title" placeholder="Enter title">
        </div>
        <div class="form-group">
            <label for="description" class="form-label mt-2">Description</label>
            <input type="description" class="form-control" id="description" placeholder="Enter description">
        </div>
        <div class="form-group">
            <label for="body" class="form-label mt-4">Body</label>
            <textarea class="form-control" id="body" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-primary my-1 align-self-end" id="create-article" style="background-color: #8ABD91;" onclick="postArticle(event)">Submit</button>
    </form> 
</div>